{% extends 'admin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ page_header }}
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row"> 
        <div class="col-md-6"> 
            {% if success == 'yes' %}
                <div class="alert alert-info" role="alert">
                    Password changed successfully.
                </div>
            {% endif %}
            <h2>Change Password</h2>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {% if form_errors(form) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form) }}
                </div>
            {% elseif errors%}
                {%  for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="exampleInputEmail1">Old Password</label>
                {% if form_errors(form.password) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.password) }}
                    </div>
                {% endif %}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}  
            </div>       
            <div class="form-group">
                <label for="exampleInputEmail1">New Password</label>
                {% if form_errors(form.newPassword) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.newPassword) }}
                    </div>
                {% endif %}
                {{ form_widget(form.newPassword, {'attr': {'class': 'form-control'}}) }}  
            </div>       
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                {% if form_errors(form.cPassword) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.password) }}
                    </div>
                {% endif %}
                {{ form_widget(form.cPassword, {'attr': {'class': 'form-control'}}) }}  
            </div>       
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }} 
        {{ form_end(form) }}
        </div>
    </div>   
{% endblock %}
